.Navitems {
  display: flex;
  color: white;
  text-align: center;
  align-items: center;
  text-decoration: none;
  padding: 12px 30px;
  transition: all 100ms ease-in;
}
.Navitems:hover,
.NavItemsActive {
  background: #6369bb;
}

.icon {
  font-size: 1.7rem;
  padding-right: 20px;
}
.text{
  font-size: 20px;
}
