.Navitems {
  display: flex;
  color: white;
  text-align: center;
  align-items: center;
  text-decoration: none;
  padding: 12px 16px;
  transition: all 100ms ease-in;
}
.Navitems:hover,
.NavItemsActive {
  background: #6369bb;
}

.icon {
  font-size: 2vw;
  padding-right: 10px;
}
