.Container {
  background-color: rgb(255, 255, 255);
  border-radius: 1%;
  padding: 20px 30px;
  border: 1px solid #ffff;
  width: 21vw;
  height: 13vh;
  margin-right: 2vw;
  box-shadow: 2px 2px 10px #ccccccd8;
}
.Container:hover {
  border: 1px solid #383c7a;
}
.title {
  color: #383c7a;
  font-size: 1.3rem;
  font-weight: 600;
}
.carditems {
  display: flex;
	align-items: center;
}
.icon {
  color: #383c7a;
  font-size: 2rem;
	margin-left: .7rem;
}
.subtitle {
	padding-top: .2rem;
	font-size: .9rem;
}
