.container {
  display: flex;
}

.button {
  height: 40px;
  width: 120px;
  border: none;
  border-radius: 5%;
  background-color: var(--color-primary);
  color: white;
  margin-right: 2vw;
  font-size: 18px;
	cursor: pointer;
}

.active {
  border: 1px solid var(--color-primary) !important;
  background-color: transparent !important;
}

.uploadavatar {
  display: none;
}

.label {
  text-align: center;
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background: #ffffff;
  border: 1px solid var(--color-primary);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
}
.inputform {
  margin-top: -25px;
  margin-right: -80px;
}
.lableicon {
  padding-top: 10px;
}

.profile {
	flex: .5;
  background-color: white;
  border-radius: 1%;
  padding: 10px 25px;
  border: 1px solid #ffff;
  height: 40vh;
  margin-right: 2vw;
  box-shadow: 2px 2px 10px #ccccccd8;
  display: flex;
  flex-direction: column;
  align-items: center;
	max-width: 250px;
}

.p,
.pname {
  padding-top: 6px;
  font-weight: 400;
}

.pname {
  font-size: 1.25em;
  font-weight: 800;
  color: var(--color-primary);
}

.profiledata {
  margin-top: 12px;
  text-align: center;
}

.setting {
	flex: 1;
  background-color: white;
  border-radius: 1%;
  padding: 10px 25px;
  border: 1px solid #ffff;
  margin-right: 2vw;
  box-shadow: 2px 2px 10px #ccccccd8;
}

.inputfield {
  padding: 8px 5px 8px 15px;
  margin-top: 12px;
  border: 1px solid #fff;
  background-color: #f0f0f3d8;
  color: black;
  font-weight: 300;
  transition: border 200ms;
	width: 50%;
}

.boxtitle {
  color: var(--color-primary);
  margin-top: 15px;
  margin-bottom: 15px;
}

.input {
  margin-top: 10px;
}

.hr {
  border-top: 1px solid #383c7a;
  height: 2vh;
  width: 100%;
  padding-right: 1vw;
}

.imgupload {
  box-shadow: 1px 5px 30px rgb(143, 141, 141);
  height: 150px;
  border-radius: 50%;
  width: 150px;
  border: 1px solid var(--color-primary);
}

.usersetting {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.librarysetting {
}
